{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class = "container-fluid">
    <div class="row p-3">
        <div class="col-lg-4">
           <p>Si vous êtes un PARTICULIER</p>
        </div>
    </div>
<div class="container col-md-6">
{% for office in offices %}
  <div class="card">
    <div class="card-header">
      {{ office.name }}
    </div>
    <div class="card-body">
      <div class="row">
            {% for pic in office.pictures %}
        <div class="col m-2 d-flex justify-content-center">
            <img src="{{ asset(pic.url) }}" alt="" height="90%" width="90%">
        </div>
            {% endfor %}
          </div>
        </div>
    <div class="card-body">
      <h5 class="card-title">  {{ office.address }} - {{ office.zipcode }} </h5>
      <h5 class="card-title">  Tél. {{ office.phone }} </h5>
    </div
  </div>
        {% endfor %}
  </div>
</div>
<br>
{% endblock %}
