{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="jumbotron align-left">
    <div class="container">
      <h2>Si vous êtes un PARTICULIER </h2>
          <p>J'interviens uniquement sur rendez-vous. Tél 06 25 60 94 94 ou email cabinet.bretin@gmail.com</p>        
            <div class="card-deck">
                <div class="card">
                    <h3 class="card-title">Cabinet Orléans-centre</h3>
                      <div class="card-body">
                          <div class="row align-items-start">
                             <div class="col">
                          </div>
                      </div>
                      <div class="row align-items-start">
                      <div class="col">
                          <img src= "{{ asset('build/images/cabinet1.JPG') }}" class="img-fluid rounded" alt="img" width = "80%" eight = "80%"/>
                      </div>
                      <div class="col">
                          <img src= "{{ asset('build/images/cabinet2.JPG') }}" class="img-fluid rounded" alt="img" width = "80%" eight = "80%"/>
                      </div>
                      <div class="col">
                          <img src= "{{ asset('build/images/cabinet3.JPG') }}" class="img-fluid rounded" alt="img" width = "80%" eight = "80%"/>
                      </div>  
                   </div>
                </div>
                <div class="card">
                  <div class="card-header">Informations d'accès</div>
                    <div class="card-body">
                        <p class="card-text">41 place du Chatelet- 45000 Orléans</p>
                    </div>
               </div>
          </div><br>
           <div class="card">
                    <h3 class="card-title">Cabinet Saint-Hilaire</h3>
                      <div class="card-body">
                          <div class="row align-items-start">
                             <div class="col">
                          </div>
                      </div>
                      <div class="row align-items-start">
                      <div class="col">
                          <img src= "{{ asset('build/images/cabinet1.JPG') }}" class="img-fluid rounded" alt="img" width = "80%" eight = "80%"/>
                      </div>
                      <div class="col">
                          <img src= "{{ asset('build/images/cabinet2.JPG') }}" class="img-fluid rounded" alt="img" width = "80%" eight = "80%"/>
                      </div>
                      <div class="col">
                          <img src= "{{ asset('build/images/cabinet3.JPG') }}" class="img-fluid rounded" alt="img" width = "80%" eight = "80%"/>
                      </div>  
                   </div>
                </div>
                <div class="card">
                  <div class="card-header">Informations d'accès</div>
                    <div class="card-body">
                        <p class="card-text">Sud IOrléans - commune de Saint-Hilaire</p>
                    </div>
               </div>
          </div>
    </div>
    <br><br><br><br><br>
</section
{% endblock %}
