{% extends 'base.html.twig' %}

{% block title %}Témoignages index{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="testimony-admin row col-lg-6 col-md-8 mb-4">

    <h1 class="border text-center">Témoignages index</h1>

    <h1>Témoignages</h1>

    <table class="table border text-center m-4">
        <thead>
            <tr class="bg-primary">
                <th>Date</th>
                <th>Nom</th>
                <th>Âge</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testimony in testimonies %}
            <tr>
                <td>{{ testimony.date|date("d/m/Y") }}</td>
                <td>{{ testimony.name }}</td>
                <td>{{ testimony.age }}</td>
                <td>{{ testimony.message }}</td>
                <td class="d-flex border-0">
                    <div class="btn btn-primary bg-light mx-2 px-3">
                        <a href="{{ path('testimony_show', {'id': testimony.id}) }}">Voir</a>
                    </div>
                    <div class="btn btn-primary bg-light mx-2 px-3">
                        <a href="{{ path('testimony_edit', {'id': testimony.id}) }}">Editer</a>
                    </div>
                        {{ include('testimony/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class = "d-flex justify-content-end m-3 p-3">
        <a class="btn btn-primary" href="{{ path('testimony_new') }}">Ajout Témoignages</a>
    </div>
<div>
{% endblock %}
