{% extends 'base.html.twig' %}

{% block title %}Admin Ajout d'un Témoignage{% endblock %}

{% block body %}

{{ form_start(form) }}
    <div class="d-flex justify-content-center">
        <div class="row col-lg-6 col-md-8 mb-4 fw-bold">
            {% block form_row %}
                    <div class="form_row p-2">
                {{ form_label(form.name, 'Nom') }}
                    </div>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
                    <div class="form_row p-2">
                {{ form_label(form.age, 'Âge') }}
                    </div>
                {{ form_widget(form.age) }}
                {{ form_errors(form.age) }}
                     <div class="form_row p-2">
                {{ form_label(form.message, 'Message') }}
                    </div>
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
                    <div class="form_row p-2">
                {{ form_label(form.date, 'Date') }}
                    </div>
                {{ form_widget(form.date) }}
                {{ form_errors(form.date) }}
            {% endblock form_row %}
            <div class = "d-flex justify-content-end m-3 p-3">
                <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            </div>
            <div class = "d-flex justify-content-end m-3 p-3">
                <a href="{{ path('testimony_index') }}">retour à la liste</a>
            </div>
        </div>
    <div>
{{ form_end(form) }}
    
{% endblock %}
