{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="d-flex justify-content-center">
    <div class="row col-lg-6 col-md-8 mb-4 fw-bold">
     <h1>Modification d'un service</h1>
    {% block form_row %}
        <div class="form_row p-2">
            {{ form_label(form.name, "Nom") }}
         </div>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}

        <div class="form_row p-2">
            {{ form_label(form.price, "Prix") }}
        </div>
        {{ form_widget(form.price) }}
        {{ form_errors(form.price) }}

        <div class="form_row p-2">
            {{ form_label(form.price2, "Prix 2") }}
        </div>
        {{ form_widget(form.price2) }}
        {{ form_errors(form.price2) }}
    {% endblock form_row %}
        <div class = "d-flex justify-content-end m-3 p-3">
            <button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
        </div>
    </div>
<div>
{{ form_end(form) }}
{% endblock %}