{% extends 'layout.html.twig' %}

{% block title %}Espace Entreprises
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('companies') }}
{% endblock %}


{% block body %}
	<section="companies">
			<div class="background-companies text-center">
			<div class="title-companies position-absolute top-50 start-50 translate-middle">
				<h1 class="">ESPACE ENTREPRISES</h1>
			</div>
		</div>
		<div class="container_description">
			<h2 class="subtitle text-center pt-5 text-uppercase">L' accompagnement du collectif de travail et de l' entreprise</h2>
			<div class="container justify-content-center">
				<div class="card mb-4 mt-5">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="{{ asset('build/images/plant.webp') }}" class="img-fluid rounded-center px-3 py-5" alt="plant_picture">
							<img src="{{ asset('build/images/desk.webp') }}" class="img-fluid rounded-center px-3 py-3" alt="desk_picture">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<p class="card-text"></p>
								<p class="p_1 pt-4">Mon intervention en entreprise vise à <strong>répondre à un besoin réel</strong>, soit en mettant à disposition des créneaux de consultation pour <strong>recevoir individuellement les salariés</strong>, soit en mettant en place une <strong>cellule d’écoute</strong> dédiée à l’entreprise, soit pour <strong>répondre à des préoccupations, questions, conflits</strong> ou toutes autres problématiques impliquant le <strong>collectif de travail</strong>.</p>
								<p class="p_2">Dès lors, un temps de travail <strong>avec la direction</strong> visant à <strong>préparer l’intervention</strong> est indispensable. Mon approche méthodologique vise à vous <strong>proposer une intervention sur mesure, répondant à la situation rencontrée.</strong></p>
								<p class="p_3">Il convient de ne pas « vendre » une prestation ou une formation standardisée offrant incontestablement une réponse rapide et pouvant donner l’illusion d’une solution à un problème.</p>
								<p class="p_4">En effet, si l’ambition est de répondre à une situation complexe, en souhaitant prendre soin du travail et de ses acteurs,<strong>l’intervention doit être spécifique et adaptée</strong>. Mon approche vise à <strong>construire une réponse</strong> en élaborant un <strong>dispositif souple et agile</strong>. La démarche devra être pensée en tenant compte de l’histoire de l’entreprise, de ses dirigeants, du collectif, mais aussi <strong>en fonction du contexte, des contraintes et de ses enjeux</strong>. L’intervention vise à <strong>redonner des perspectives et instaurer une zone de développement</strong> dans un objectif de performance individuelle et collective. <strong>Restaurer le débat et la qualité du travail</strong>, c’est <strong>soigner le travail</strong> en le réhabilitant et le replaçant au cœur de l’entreprise. Soigner le travail, c’est prendre soin de l’entreprise et de ses membres.</p>
								<p class="p_5">Mon intervention se veut d’être spécifique et unique pour répondre au besoin réel. Cette prise en compte et <strong>compréhension du besoin</strong> nécessitent donc un temps de préparation et d’<strong>élaboration conjointe avec la direction</strong>.</p>
								<p class="p_6">Avant d’agir, la réponse par mon intervention se doit d’être adaptée, personnalisée et co-construite avec les membres de l’entreprise.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-header bg-primary text-light">Mon intervention s’appuie sur des principes et valeurs suivants</div>
					<div class="card-body">
						<ul class="intervention">
							<li><strong>Créer des espaces de parole et d’écoute</strong></li>
							<li><strong>La confidentialité</strong></li>
							<li>Le non jugement</li>
							<li>Le respect des décisions prises</li>
							<li><strong>Le secret professionnel</strong></li>
							<li>Alerter la direction en cas d’identification de situations critiques, graves ou dangereuses</li>
							<li><strong>La connaissance du monde de l’entreprise</strong></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container justify-content-center">
				<div class="card mb-4">
					<div class="card-header bg-primary text-light">Mes services</div>
					<div class="card-body">
						<ul class="services">
							<li>Recréer des <strong>espaces d’expression</strong> sur le travail</li>
							<li><strong>Soutenir et accompagner</strong> la fonction managériale</li>
							<li><strong>Prévenir</strong> des Risques Psycho-sociaux</li>
							<li>Nourrir et <strong>développer</strong> la qualité du travail</li>
							<li><strong>Accompagner</strong> au changement</li>
							<li><strong>Recréer du dialogue</strong> et faire exprimer les tensions, conflits liés au travail</li>
							<li>Améliorer la <strong>communication</strong> et les échanges dans les équipes</li>
							<li><strong>Recréer du collectif de travail</strong></li>
							<li><strong>Soigner</strong> les éventuelles souffrances dans le travail</li>
							<li>Accompagner les salariés dans une <strong>meilleure connaissance de soi</strong></li>
							<li>Renforcer la coopération et la coordination des<strong> équipes</strong></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container justify-content-center">
				<div class="card-header bg-primary text-light">Offre personnalisée - vous offrir un interlocuteur unique</div>
				<div class="card mb-4">
					<div class="row g-0">
						<div class="col-md-8 col-lg">
							<img src="{{ asset('build/images/hands.jpg') }}" class="img-fluid rounded-center px-5 py-5" alt="hands_picture">
							<img src="{{ asset('build/images/mbti-logo.png') }}" class="card-img-mbti px-5 py-5 " alt="logo_mbti">
							<ul>
								<li><a target="_blank" href="https://www.youtube.com/watch?v=E17jlIWQrS4">Pour en savoir plus sur la certification MBTI</a></li>
							</ul>
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<p class="p_1 pt-4"><strong>L’offre personnalisée</strong> proposée peut également <strong>répondre à des situations d’urgence ou de souffrance</strong>. Ainsi, fonction du contexte rencontré, je peux <strong>intervenir en collaboration avec un ou plusieurs autres professionnels spécialisés</strong> dans les diagnostics, traitement des RPS ou des professionnels de santé comme une psychologue clinicienne spécialisée dans la <strong>prise en charge des traumatismes</strong>.</p>
								<p class="p_2">Cette offre vise à enrichir et renforcer l’offre de service faite à l’entreprise et à ses membres pour répondre à des situations très particulières, pour lesquelles l’entreprise doit apporter une réponse pour évacuer le traumatisme et <strong>recréer un avenir apaisé</strong>.</p>
								<p class="p_3">En effet, lorsqu'une entreprise doit surmonter des évènements graves liés à des <strong> conflits, traumatismes, accidents, </strong> celle-ci peut faire appels à une multitude d’acteurs et d’intervenants (experts en QVT, coachs, consultants, psychologues du travail, psychologues clinicien, sophrologues…).</p>
								<p class="p_4">Toutefois, <strong> la diversité des approches </strong> peut bien souvent conduire à devoir arbitrer en privilégiant une démarche mais en renonçant finalement aux apports des autres. Au final, la problématique peut être traitée que partiellement. C'est la raison pour laquelle le recours au cabinet doit pouvoir répondre à votre besoin.</p>
								<p class="p_5">Le psychologue du travail s’attache à soigner le travail et de redonner du pouvoir d’agir au collectif de travail. Le soin est apporté sur le travail et sur le collectif. Le psychologue clinicien s’attache à soigner la personne et prendre en charge des traumatismes individuels.</p>
								<p class="p_6">Le psychologue du travail questionne l’organisation du travail, les phénomènes de groupe, l’inconscient collectif alors que le consultant va appréhender l’entreprise dans une approche globale avec une dimension RH, de processus.</p>
								<p class="p_7"><strong>Mon approche ne vise pas à opposer mais à réunir les apports de chaque discipline et métiers au seul profit et bénéfice de l’entreprise</strong> et de ses membres.</p>
								<p class="p_8"><strong>Réunissant ces compétences et approches différentes</strong> en fonction des situations rencontrées, l’action du cabinet permet de <strong>construire des réponses adaptées et personnalisées à votre situation</strong>.</p>
								<p class="p_9">Considérant que <strong>chaque problématique est unique et particulière,</strong> la réponse à apporter doit être construite pour un besoin unique et spécifique.</p>
								<p class="p_10">Notre intervention s’inscrit donc dans le cadre du code de déontologie des psychologues. <strong>Le secret professionnel est garanti</strong>. Nos interventions sont préparées et travaillées au préalable avec la direction. Nous traitons la(les) problématique(s) avec les salariés de <strong>façon adaptée, personnalisée, en collectif et/ou en individuel</strong>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
