{{ form_start(form) }}
<div class="d-flex justify-content-center">
    <div class="row col-lg-6 col-md-8 mb-4 fw-bold">
    {% block form_row %}
        <div class="form_row p-2">
            {{ form_label(form.name, 'Nom') }}
         </div>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}

        <div class="form_row p-2">
            {{ form_label(form.obtentionYear, 'Année d\'obtention') }}
        </div>
        {{ form_widget(form.obtentionYear) }}
        {{ form_errors(form.obtentionYear) }}
    {% endblock form_row %}
        <div class = "d-flex justify-content-end m-3 p-3">
            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
<div>
{{ form_end(form) }}
