<div class="container col-md-6">
    {% for office in offices %}
        <div class="card m-2 intro">
            <div class="card-header">
                 {{ office.name }}
            </div>
            <div class="card-body">
                {% set picture_index = 1 %}
                {% for picture in office.pictures %}
                    <a href="{{ path('cabinet_picture_edit', {'id': picture.id}) }}" class="btn btn-primary"> Photo {{ loop.index }}</a>
                    {% set picture_index = picture_index + 1 %}
                {% endfor %}
                <div class= "row p-4">
                    <p class="card-title">&nbsp; <img src="{{ asset("build/images/address.svg") }}" alt="icon_address" height="22" width="27">  {{ office.address }} - {{ office.zipcode }} -  {{ office.city }} </p>
                    <p class="card-text"> &nbsp; <img src="{{ asset("build/images/tel.svg") }}" alt="icon_tel" height="22" width="27">  {{ office.phone }} - <img src="{{ asset("build/images/envelope.svg") }}" alt="icon_mail" height="22" width="27">  <a href="mailto:{{ office.mail }}" target="_blank">{{ office.mail }}<a></p>
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('pic_new', {'id': office.id}) }}" class="btn btn-primary text-light">Nouvelle photo</a>&nbsp; &nbsp;
                        <a href="{{ path('cabinet_edit', {'id': office.id}) }}" class="btn btn-primary text-light">Modifier</a>&nbsp; &nbsp;
                        {{ include('cabinet/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="card-body">
            <div class= "row">
                  <a href="{{ path('cabinet_new') }}" class="btn btn-primary text-light">Ajouter un nouveau cabinet</a>
            </div>
        </div>
</div>


