<footer class="container-fluid pt-3 footer">
	<div class="row">
		<div class="text-center text-sm-end col-sm-4 col-md-2 col-lg-2 col-xl-2">
			<img class="profil-loic col-4 col-sm-6 mx-sm-3 col-md-11 mx-md-2 col-lg-9 col-xl-6 pb-4 pt-3" src="{{ asset('build/images/loic-footer.png') }}" alt="profil"/>
		</div>
		<div class="psy text-center col-sm-6 text-sm-start col-md-2 text-md-start col-lg-3 pb-3 pt-4">
			<p class="psy fs-5">Psychologie</p>
			<p class="psy">Accompagnement Professionnel et Personnel</p>
			<p class="psy fs-5">Numéro ADELI : 459309159</p>
		</div>
		<div class="text-center text-sm-end col-sm-4 col-md-3 col-lg-2 col-xl-2">
			<img class="col-5 col-sm-8 col-md-8 col-lg-10 col-xl-7 p-1 mt-3" src="{{ asset('build/images/Logo_L.Bretinrogn.png') }}" alt="photo">
		</div>

		{% for office in offices %}
			<address class="contacts text-center text-sm-start col-sm-3 col-md-2 col-lg-2 col-xl-2 pt-4">
				{% if loop.index == 1 %}
					<p class="fs-5">Lieux de Consultation:</p>
				{% else %}
					<div class="pt-5"></div>
				{% endif %}
				{{ office.address }}
				<br>
				{{ office.zipcode }}
				{{ office.city }}
				<br>
				{% if loop.index == 1 %}
					Tél:
					{{ office.phone }}
				{% endif %}
			</address>
		{% endfor %}
	</div>
</footer>
