<nav class="navbar navbar-expand-lg fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('accueil') }}">
    <img class = "logo" src="{{ asset('build/images/logo.png') }}" alt="logo">
     <div class="cabinet d-sm-inline">
        <div class = "d-none d-sm-inline">
        CABINET DE PSYCHOLOGIE
        </div>
    </div>
    </a>
    <button class="navbar-toggler ms-auto bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-primary"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class = "navbar-nav">
          <a class="nav-item nav-link active" href="{{ path('accueil') }}">Accueil</a>
          <a class="nav-item nav-link active" href="{{ path('particuliers') }}">Particuliers</a>
          <a class="nav-item nav-link active" href="{{ path('entreprises') }}">Entreprises</a>
          <a class="nav-item nav-link active" href="{{ path('contact_') }}">Contact</a>
          <a target="_blank" a href="https://www.doctolib.fr/psychologue/orleans/loic-bretin" class="btn btn-primary">RDV Particuliers</a>
    </div>
    </div>
  </div>
</nav>