<h2 class="pt-5 mb-5 mx-5 text-center col-3">TÉMOIGNAGES</h2>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		{% for testimony in testimonies %}
			<div class="carousel-item {{ loop.index == 1 ? 'active' : '' }}">
				<div class="color-testimony pb-5 fw-bold col-9 position-relative bottom-0 start-50 translate-middle-x">
					<p>
					<img src="{{ asset('build/images/left-quotes-sign.7512b79e.png') }}" class="quotes-testimony" alt="QuotesLeft">
					{{ testimony.message }}
					<img src="{{ asset('build/images/right-quotes-symbol.9917dfde.png') }}" class="quotes-testimony" alt="QuotesRight">
					<br><br>
					{{ testimony.name }},
					{{ testimony.age }} ans.
					Le {{ testimony.date|date("d/m/Y") }}.
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
