{% extends 'layout_admin.html.twig' %}

{% block body %}
<section class="story vh-auto" id="biography">
    <div class="row g-0 d-flex align-items-start justify-content-evenly p-5">
    {% for user in users %}
    <div class="col-md-9 col-lg-9 w-auto">
            <h2 class="title p-bottom-2">Qui suis-je ?</h2>
            <p>{{ user.biography|nl2br }}</p>
        </div>
        <div class="col-md-3 col-lg-3">
            <img src="{{ vich_uploader_asset(user) }}" class="img-fluid rounded-3 w-50 h-50" alt="photo de Loïc Bretin">
            <h2>Loïc Bretin</h2>
            <p>Psychologue du travail</p>
        </div>
    </div>
    <div class="d-flex align-item-start justify-content-around">
        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary p-1 mb-3">Modifier</a>
        {{ include('user/_delete_form.html.twig') }}
        <a href="{{ path('user_new') }}" class="btn btn-primary p-1 mb-3">Ajouter une biographie</a>
    </div>
    {% endfor %}
{% endblock %}
