{% extends 'base.html.twig' %}
{% block navbar %}
    {% include 'Includes/_navbar.html.twig' %}
{% endblock %}

{% block title %}Cabinet Bretin - Admin - Connexion{% endblock %}

{% block body %}
{{ form_start(form) }}
<main class="container-fluid p-5">
    <div class = "fw-bold text-center p-5">
        <p class = "titre">Réinitialisation du mot de passe administrateur</p>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row col-lg-6 col-md-8 mb-4 fw-bold">
            {% block form_row %}
                <div class="form_row row g-3">
                    {{ form_label(form.email, "Identifiant (votre adresse email)") }}
                </div>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
                <div class="form_row row g-3">
                    {{ form_label(form.newPassword, "Nouveau mot de passe") }}
                </div>
                {{ form_widget(form.newPassword) }}
                {{ form_errors(form.newPassword) }}
                <div class="form_row row g-3">
                    {{ form_label(form.confirmNewPassword, "Confirmer le nouveau mot de passe") }}
                </div>
                {{ form_widget(form.confirmNewPassword) }}
                {{ form_errors(form.confirmNewPassword) }}
            {% endblock form_row %}
            <div class = "d-flex justify-content-end m-3 p-3">
                <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
            </div>
        </div>
    <div>
</div>
{{ form_end(form) }}
{% endblock %}
